<div>
  <link href="./testimonial.css" rel="stylesheet" />
  <div class="testimonial-testimonial">
    <div class="testimonial-content">
      <img
        alt="image"
        src="public/playground_assets/apostrophe.svg"
        class="testimonial-icon"
      />
      <span class="testimonial-text">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </span>
      </span>
    </div>
    <div class="testimonial-author">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDl8fHBvdHJhaXR8ZW58MHx8fHwxNjY5NTY3NDE5&ixlib=rb-4.0.3&w=200"
        class="testimonial-author1"
      />
      <div class="testimonial-details">
        <span class="testimonial-name"><span>Joanna Smith</span></span>
        <span class="testimonial-origin"><span>@zeng</span></span>
      </div>
    </div>
    <div class="testimonial-divider"></div>
  </div>
</div>
